p {
    margin: 0px;
  }
  
  body {
    margin: 0px;
    height: 200vh;
    background: rgb(255, 255, 255);
  }
  
  .cookies-container {
    color: #222;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: fixed;
    width: 100%;
    bottom: 2rem;
    z-index: 1000;
  }
  
  .cookies-content {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    background: white;
    max-width: 520px;
    border-radius: 5px;
    padding: 10px;
    margin: 1px;
    display: inline-flex;
    grid-template-columns: 1fr auto;
    gap: 0.5rem;
    opacity: 0;
    transform: translateY(1rem);
    animation: slideUp 0.5s forwards;
  }
  
  @keyframes slideUp {
    to {
      transform: initial;
      opacity: initial;
    }
  }
  
  .cookies-pref label {
    margin-right: 1rem;
  }
  
  .cookies-save{
    grid-column: 2;
    grid-row: 1/3;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #007cf8;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 0.8rem 1rem;
    font-size: 12px;
  }
  .cookies-naosave{
    grid-column: 2;
    grid-row: 1/3;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #76bbff;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 0.8rem 1rem;
    font-size: 12px;
  }
  
  @media (max-width: 500px) {
    .cookies-content {
      grid-template-columns: 1fr;
    }
    .cookies-save {
      grid-column: 1;
      grid-row: 3;
    }
  }


  @import url('https://fonts.googleapis.com/css2?family=Playball&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    margin: 0;
    font-family: 'Roboto' 
}


.cabecalho{
    background-image: url("imagens/fundo-header.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;

    width: 1200px;
    
    margin-top: 0;
    margin-right:auto;
    margin-bottom: 0;
    margin-left:auto;
    text-align: center;

    padding-top: 20px;
    padding-bottom: 22px;

}

.logo{
    width: 180px;
    height: 180px;
    /*solid dotted dashed double */
    border: 5px solid white(184, 39, 39) (49, 255, 169);
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 100px;
}

.nome-loja{
    margin:0;
    font-size: 60px;
    color: #FF7500;
    line-height: 60%;
    font-family: 'Playball';
    font-weight: 200;
}

.texto-pequeno{
    font-size: 28px;
}

.menu{
    background-color:#D8E2DC;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding-top: 19px;
    padding-bottom: 19px;
    color: #FF7500;
}

.item-menu{
    color: #FF7500;
    font-size: 18px;
    font-weight: 500;
    
    
}

.foto-banner{
    width: 1200px;
    height: 445px;
    object-fit: cover;
}

.banner{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 5px solid #D8E2DC
}

.cardapio{
    text-align: center;
    color:#FF7500;
    font-family: 'Playball';
    margin-top: 52px;
}

.texto-colunas{
    columns: 4;  
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    

}

.titulo{
    font-family: 'Playball';
    margin-top: 52px;
    text-align: center;
    width: 1200px;
    color: #FF7500;
    
}

.galeria{
    width: 1200px;
    height: 390px;
    margin-left: auto;
    margin-right: auto;
    background-color:#D8E2DC; 
    padding-top: 52px;

}

.fotos{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-left:125px; 
    margin-right: 30px;
    border: 5px solid #FF993C;


}

.mapa{
    margin-left: auto;
    margin-right: auto; 
    text-align: center;
    margin-top: 52px;


}

.contato{
    text-align: center;
    color: #FF7500;
    margin-top: 52px;
    font-family: 'Playball';
    

}


.linha{
    background-color:#D8E2DC ;
    height: 5px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 52px;
}

.logo-footer{
    text-align: center;
    color: #FF7500;
    font-family: 'playball';
    margin-top: 52px;


}
.alma{
  text-align: center;
  font-size: 45px;
}
.alma1{
  text-align: center;
  font-size: 23px;
}

.hacker{
  width: 100%;
  height: 345px;
}

.voltar {
  font-size: 20px;
  padding: 0.6em 2em;
  margin-left: 45%;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.voltar:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-voltar 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-voltar {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.voltar:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.imagem{
  text-align: center;
}